<mat-card *ngIf="assignmentTransmis">
  <mat-card-title>{{assignmentTransmis.nom}}</mat-card-title>
  <mat-card-subtitle>{{assignmentTransmis.dateDeRendu|date}}</mat-card-subtitle>
  <mat-card-subtitle>{{assignmentTransmis.auteur}}</mat-card-subtitle>
  <mat-card-subtitle>{{assignmentTransmis.matiere}}</mat-card-subtitle>
  <mat-card-subtitle>{{assignmentTransmis.note}}</mat-card-subtitle>
  <mat-card-subtitle>{{assignmentTransmis.remarques}}</mat-card-subtitle>
  <div id="bottom">
    <mat-checkbox *ngIf="!assignmentTransmis.rendu" (click)="onAssignmentRendu()">
      Rendu
    </mat-checkbox>
        <button mat-stroked-button [disabled]="!isLoggedIn()" color="primary" (click)="onClickEdit()">EDIT</button>
    <button mat-flat-button (click)="onDelete()" color="warn">DELETE</button>
  </div>
</mat-card>
