<main class="container">
  <nav class="ajouterBtn">
    <a routerLink="/add">
      <button mat-flat-button color="accent">
        Ajouter Assignment
      </button>
    </a>
  </nav>
  <h2>{{titre}}</h2>
  <!--
  <div class="pagination">
    <button (click)="premierePage()" class="boutonsPagination">Première</button>
    <button (click)="pageSuivante()" [disabled]="!hasNextPage" class="boutonsPagination">Page Suivante</button>
    <button (click)="pagePrecedente()" [disabled]="!hasPrevPage" class="boutonsPagination">Page Précédente</button>
    <button (click)="dernierePage()">Dernière</button>
  </div>
  -->
  <br>
  <mat-divider></mat-divider>
  <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport" #scroller>

  <mat-list *cdkVirtualFor="let a of assignments">
    <nav>
      <a routerLink="/assignments/{{a.id}}">
        <h3 mat-subheader>{{a.dateDeRendu|date}}</h3>

        <mat-list-item class="example-item">
          <p *ngIf="a.rendu; else nonsoumis" appRendu>
            {{a.nom}}
            rendu par l'élève.
          </p>
          <ng-template #nonsoumis>
            <p>Le devoir {{a.nom}}, n'a pas encore été rendu.</p>
          </ng-template>
          <mat-divider></mat-divider>
        </mat-list-item>
      </a>
    </nav>
  </mat-list>
</cdk-virtual-scroll-viewport>
</main>
