<div class="container" *ngIf="assignment">
  <h1>Edition de l'assignment {{assignment.nom}}</h1>

 <mat-horizontal-stepper>
   <mat-step>
     <p>Etape 1</p>
     <form ngForm class="form">
       <mat-form-field>
         <input matInput placeholder="Edition du nom" [(ngModel)]="nomAssignment" name="assignment-name">
       </mat-form-field>
       <mat-form-field>
         <input matInput [matDatepicker]="picker" placeholder="Edition de la date" [(ngModel)]="dateDeRendu" name="date">
         <mat-datepicker-toggle matSuffix [for]="picker">
         </mat-datepicker-toggle>
         <mat-datepicker #picker></mat-datepicker>
       </mat-form-field>
       <div>
         <button mat-button mat-raised-button color="primary" matStepperNext type="button">Next</button>
       </div>
     </form>
   </mat-step>
   <mat-step>
     <p>Etape 1</p>
     <form ngForm class="form">
       <mat-form-field>
         <input matInput placeholder="Edition du nom d'auteur" [(ngModel)]="auteurAssignment" name="assignment-auteur">
       </mat-form-field>
       <mat-form-field>
         <input matInput placeholder="Edition de la matière" [(ngModel)]="matiereAssignment" name="assignment-matiere">
       </mat-form-field>
       <div>
         <button mat-button mat-raised-button color="accent" matStepperPrevious type="button">Back</button>
         <button mat-button mat-raised-button color="primary" matStepperNext type="button">Next</button>
       </div>
     </form>
   </mat-step>
   <mat-step>
     <p>Etape 1</p>
     <form ngForm class="form">
       <mat-form-field>
         <input matInput placeholder="Edition du note" type="number" [(ngModel)]="noteAssignment" name="assignment-note">
       </mat-form-field>
       <mat-form-field>
         <textarea matInput placeholder="Edition des remarques" rows="7" [(ngModel)]="remarquesAssignment" name="assignment-remarques"></textarea>
       </mat-form-field>
       <button mat-raised-button color="primary" (click)="onSaveAssignment($event)">
         Sauver
       </button>
     </form>
   </mat-step>
 </mat-horizontal-stepper>

</div>
